<!-- <span class="border border-success"> -->

<div class="bg" style="text-align: right; border-style: dashed;border-color: aquamarine;padding-top: 100px;">

    <button type="button" style="background-color: aquamarine; color: blue;" class="btn btn-secondary" routerLink="/home">home</button>
    <button type="button" style="background-color: aquamarine; color: blue" class="btn btn-secondary" routerLink="/about">about</button>
    <button type="button" style="background-color: aquamarine; color: blue" class="btn btn-secondary" routerLink="/contact">Contact</button>
    <button type="button" style="background-color: aquamarine; color: blue" class="btn btn-secondary" routerLink="/getList">AllStudents</button>
    <!-- <button type="button" style="background-color: aquamarine; color: blue" class="btn btn-secondary" routerLink="/search/{id}">Search</button> -->
    <button type="button" style="background-color: aquamarine; color: blue" class="btn btn-secondary" routerLink="/addNew">addNew</button>

</div>




































<router-outlet></router-outlet>

















