<div class="bg">




  <p class="py-5 text-center"></p>
<h1 style="text-align: center;color: red">WELCOME to PREC</h1>
<footer style="color: darkblue;text-align: right;">
  <p>Author: Mr.Prince</p>
  <p><a href="mailto:hege@example.com">goretushar@gmail.com"</a></p>
</footer>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form style="text-align: center; padding-bottom: 50px;">
      <input type="text" placeholder="Search student by id" name="id" [(ngModel)]="id">
      <button type="submit" (click)="searchStudent()"><i class="fa fa-search"></i></button>
    </form>